*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body,
.body-container,
.main-content {
	/*height: 100%;*/
}

body, a {
  color: #F0F0F0;
	text-decoration: none;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

body {
	background-color: #77dd77;
}

a:hover {
	color: green;
}

.body-container {
	position: relative;
	overflow-x: hidden;
}

/* ----SIDEBAR MENU---- */

.sidebar {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
	width: 150px;
	height: 100%;
}

	.sidebar .menu-link {
		display: block;
		height: 23%;
		border-bottom: 1px solid #F0F0F0;
		text-align: center;
		padding-top: 27%;
		text-transform: uppercase;
		font-weight: 300;
	}

.menu-social {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	padding-top: 8%;
}

	.menu-social a {
		margin: 0 11px;
	}

/* ---- MAIN CONTENT ---- */

/* 'pusher' class = main content getting pushed by sidebar */

.pusher {
	position: relative;
	z-index: 20;
	background-color: #77dd77;
}

.main-content,
.main-content-inner {
	position: relative;
}

/*set up inner main content wrapper as flex box*/
.main-content-inner {
	display: flex;
	flex-flow: row nowrap;
}
 /* class to add when menu slides out */
.white-border-left {
	border-left: 1px solid white;
}

/*side columns that hold fixed menu button & social icons*/
.side-column {
	flex-grow: 1;
	position: fixed;
}

	.left-side-column {
		padding-left: 30px;
		padding-top: 21%;
	}

		#sidebar-button {
			height: 42px;
			width: 42px;
			border-radius: 5px;
			background-color: #F0F0F0;
		}

			#sidebar-button:hover {
				background-color: green;
			}

	.right-side-column {
		padding-top: 15%;
		padding-right: 30px;
		right: 0;
		top: 0;
	}

		.main-social {
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: space-between;
			height: 200px;
		}

/*main central column that holds all main content*/
.center-column {
	flex-grow: 12;
	text-align: center;
	padding: 10% 10% 0% 10%;
	text-transform: uppercase;
}

.center-content-section {
	margin-bottom: 20%;
}
	#contact {
		margin-bottom: 2%;
	}

	/*section 1 - home*/
	#home .section-wrapper {
		border-top: 1px solid #F0F0F0;
		border-bottom: 1px solid #F0F0F0;
		margin: 6% 2%;
	}

	.center-column h1 {
		font-size: 100px;
		margin: 0 auto;
	}

	.center-column h4 {
		font-size: 36px;
		margin: 20px auto;
	}

	.down-button {
		margin: 10px auto;
	}

	.content-placeholder {
		border: 2px solid white;
		border-radius: 5px;
		height: 400px;
	}
