*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body, a {
  color: #F0F0F0;
	text-decoration: none;
	font-family: Roboto, sans-serif;
	font-weight: 300;
}

	a:hover {
		color: red;
	}

/*header*/

header {
	position: fixed;
	height: 60px;
	width: 100%;
	z-index: 100; /*needs to be on top for links to be clickable*/
}

	#headerLogo {
		display: inline;
		font-size: 35px;
		line-height: 60px;
		margin-left: 30px;
	}

	#socialBox {
		float: right;
		width: 30%;
		height: 60px;
		margin: 0 40px;
		z-index: 50;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		justify-content: space-around;
	}

		#mainNav {
			height: 60px;
			margin: 0;
			padding: 12px;
		}

		#mainNav li {
			display: inline;
			margin-left: 30px;
		}

		.active-menu {
			color: green;
		}



/*main content*/
#mainContent {
	position: absolute;
	top: 120px;
	padding: 0;
}

	/*home*/
	#home {
		background:
			linear-gradient(
				rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0.5)
			),
			url('../img/veil-nebula.jpg') no-repeat;
			background-position: center;
	}

	#homeHeadingBox {
		text-align: center;
		margin: 2% auto;
	}

		#homeHeadingBox h1 {
			font-size: 75px;
			line-height: 75px;
			margin: 10px auto;
		}

		#homeHeadingBox h3 {
			font-size: 30px;
			font-weight: 200;
			margin: 10px auto;
		}

		@media (max-width: 650px) {
			#headerLogo {
				font-size: 24px;
			}

			#homeHeadingBox h1 {
				font-size: 50px;
			}
		}

	.slide-section {
		padding: 0 50px;
	}
	.color-fill {
		background-color: gray;
	}

	/*skills*/
	#skills {
		background:
			linear-gradient(
				rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0.5)
			),
			url('../img/earth_from_space_2.jpg') no-repeat;
	}

	/*contact*/
	#contact {
		background:
			linear-gradient(
				rgba(0, 0, 0, 0.5),
				rgba(0, 0, 0, 0.5)
			),
			url('../img/hubble_img_1.jpg') no-repeat;
			background-position: center;
	}


/*footer*/

footer {
	width: 100%;
	position: fixed;
	bottom: 0px;
}

	#mainNav{
		margin: 10px auto;
		display: flex;
		flex-flow: row nowrap;
		justify-content: space-between;
		width: 380px;
	}
