@import 'variables';
@import 'flex';

#bio {
  z-index: $bio-z;
  @extend .flex-section;
  justify-content: center;
  align-items: center;
}

.bio-content {
  width: 100%;
  max-width: $bio-content-max-width;
  display: flex;
  flex-flow: column nowrap;
  padding: $bio-content-padding + 10px 0 $bio-content-padding 0;

  .bio-top-content {
    width: 100%;
    @extend .flex-section;

    .top-text-wrapper {
      width: 100%;
      .bio-heading-wrapper {
        display: flex;
        flex-flow: row nowrap;
        font-size: $bio-h1-size-mobile;
        align-items: center;

        .bio-photo {
          width: $bio-photo-width;
          min-width: $bio-photo-min-width;
          max-width: $bio-photo-max-width;
          height: $bio-photo-width;
          border: $bio-box-border;
          background-image: url('img/bio-photo-light.png');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
        }

        .heading-text-wrapper {
          margin-left: 10px;

          .non-bold-heading-bio {
            white-space: nowrap;
          }
        }
      }
    }
  }

  .greeting-text {
    margin: 10px auto;
    font-size: $bio-greeting-size-mobile;
    text-align: center;
    margin-bottom: 32px;
  }

  .timeline-menu {
    width: 100%;
    position: relative;
    @extend .flex-section;
    justify-content: space-between;
    border-top: $timeline-border;

    .timeline-circle {
      position: relative;
      height: $social-icon-width-tab - 10px;
      width: $social-icon-width-tab - 10px;
      border: $master-border;
      border-radius: 50%;
      top: -25px;
      color: $text-color;
      background-color: $color-fill-background-color;
      padding: $social-icon-padding;
      @extend .flex-section;
      justify-content: center;

      i {
        font-size: 18px;
      }
    }

    .current-square {
      background-color: $text-color;
      color: $color-fill-background-color;

    }
  }

  .main-bio-text {
    background-color: $text-color;
    padding: $bio-content-padding-desktop;
    display: none;
    position: relative;
    box-shadow: $material-shadow-3;

    .event-triangle-wrapper {
      z-index: 10;
      position: absolute;
      width: 100%;
      @extend .flex-section;
      justify-content: space-between;
      padding: 0 7px;
      left: 0;
      top: -11px;

    }

    .timeline-event {
      color: $color-fill-background-color;
      display: none;
      z-index: 40;


      .event-triangle {
        visibility: hidden;
        height: 25px; width: 25px;
        background-color: $text-color;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }

      .active-tri {
        visibility: visible;
      }


     .event-text-wrapper {
        max-height: 25vh;
        overflow-y: scroll;
     }

      #home-image {
        background-image: url('img/hermosa.jpg');
        background-position: center;
        background-size: cover;
      }


      p {
        margin: 0;
        font-size: $bio-text-size-mobile;
      }

      .event-heading {
        font-weight: $bold-heading-font-weight;
        text-align: left;
      }

    }
  }
}

@media screen and (min-width: 625px) {
  .bio-content {
    padding-top: $bio-content-padding + 20px;
    .bio-top-content {
      .top-text-wrapper {
        .bio-heading-wrapper {
          font-size: $home-heading-size-mobile + 3px;
        }
      }
    }

    .timeline-menu {
      .timeline-circle {
        height: $social-icon-width-tab;
        width: $social-icon-width-tab;

        i {
          font-size: 22px;
        }
      }
    }

    .main-bio-text {
      .event-triangle-wrapper {
        padding: 0 12px;
      }

      .timeline-event {
        .event-text-wrapper {
          overflow-y: hidden;
          .event-heading {
            font-size: $home-h3-size-mobile;
          }
          p {
            font-weight: $light-font-weight;
            font-size: $bio-event-desktop-size;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 730px) {
  .bio-content {
    padding: $bio-content-padding-desktop;
    .bio-top-content {
      .top-text-wrapper {
        .greeting-text-desktop {
          display: block;
          font-size: $bio-greeting-size-tablet;
        }
      }
    }

    .greeting-text-mobile {
      display: none;
    }

    .timeline-menu {
      margin-top: $bio-content-padding;
      margin-bottom: $bio-text-h3-marg;

      .timeline-square {
        height: $bio-time-square-desktop-width;
        width: $bio-time-square-desktop-width;
      }

    }
  }
}

@media screen and (min-width: 934px) {
  .bio-content {
    margin-left: $arrow-nav-extra-pad;

    .bio-top-content {
      .bio-heading-wrapper {
        .heading-text-wrapper {
          display: flex;
          flex-flow: row nowrap;
          font-size: $home-heading-size-mobile;

          .non-bold-heading-bio {
            margin-left: 10px;
          }
        }
      }
    }
  }
}
