@import 'variables';
@import 'flex';

#contact {
	z-index: $contact-z;
	background:
		linear-gradient($home-gradient, $home-gradient),
		url('./img/hubble_img_1.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}

.contact-content {
	// align-self: flex-start;
	margin: 5vh auto;
	h1 {
		font-size: $bio-h1-size-mobile;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	.contact-info {
		margin: $social-icon-padding auto;
		font-size: $contact-info-font-mobile;

		.contact-text {
			margin-left: 15px;
		}
	}

	p {
		font-size: $contact-p-font-mobile;
	}

	.text-form {
		width: 100%;
		.form-group {
			margin: 10px auto;

			.input-div {
				margin-top: 10px;

				textarea {
					resize: none;
					height: $text-field-height-mobile;
				}

				.contact-input {
					border: $master-border;
					background-color: rgba(0,0,0,0);
					color: $text-color;
					width: 100%;
					padding: 5px;
				}
			}
		}
	}

}

@media screen and (min-width: 500px) {
	#contact {
		padding-left: $slide-lr-pad + $arrow-nav-extra-pad;
	}
	.contact-content {
		h1 {
			text-align: center;
			font-size: $bio-h1-size-mobile + 10px;
		}
	}
}

@media screen and (min-width: 800px) {

	.contact-content {
		h1 {
			font-size: $bio-h1-size-mobile + 20px;
		}

		.contact-info {
			font-size: $contact-info-font-mobile + 5px;
		}

		p {
			font-size: $contact-p-font-mobile + 5px;
		}

		.text-form {
			.form-group {
				.input-div {
					.contact-input {
						padding: 10px;
					}
				}
			}
		}
	}

}
