@import 'variables';
@import 'flex';

.arrow-nav-container {
  position: fixed;
  top: 0; bottom: 0; right: 0;
  padding-right: $slide-lr-pad;
  @extend .flex-section;
  flex-flow: column nowrap;
  justify-content: center;
  z-index: $arrow-nav-z;

  .arrow-box i {
    margin: $arrow-tb-marg auto;
  }
}

footer {
	position: fixed;
  opacity: 0.999;
	bottom: 0;
  width: 100%;
  padding: 0 $header-lr-padding;
  height: $header-height;
	z-index: $header-z;
  @extend .flex-section;
  justify-content: center;

  #mainNav{
    width: $main-nav-width;
    @extend .flex-section;
    justify-content: space-between;
    .nav-active {
      color: $nav-active;
    }

  }
}

@media screen and (max-width: 400px) {
  .arrow-nav-container {
    padding-right: $slide-lr-mobile-pad;

    .arrow-box i {
      font-size: $mobile-arrow-size;
    }
  }

  footer {
    padding: 0 $slide-lr-mobile-pad;
  }
}
