@import 'variables';
@import 'flex';

#bio {
  z-index: $bio-z;
  @extend .flex-section;
  justify-content: center;
}

.bio-content {
  width: 100%;
  max-width: $bio-content-max-width;
  display: flex;
  flex-flow: column nowrap;
  border: $master-border;
  padding: $bio-content-padding;

  .bio-top-content {
    width: 100%;
    @extend .flex-section;

    .bio-photo {
      width: $bio-photo-width;
      min-width: $bio-photo-min-width;
      max-width: $bio-photo-max-width;
      height: auto;
      border: $bio-box-border;
    }

    .top-text-wrapper {
      margin-left: $arrow-tb-marg;

      h1 {
        margin: 0;
        font-size: $bio-h1-size-mobile;
        font-weight: $main-font-weight;
      }

      .greeting-text-desktop {
        display: none;
      }
    }
  }

  .greeting-text {
    margin: $arrow-tb-marg auto;
    font-size: $skills-page-links-size;
    text-align: justify;
  }

  .timeline-menu {
    width: 100%;
    @extend .flex-section;
    justify-content: space-between;

    .timeline-square {
      height: $social-icon-width;
      width: $social-icon-width;
      border: $master-border;
      color: $color-fill-background-color;
      padding: $social-icon-padding;
      font-size: $bio-icon-mobile-size;
      @extend .flex-section;
      justify-content: center;
    }

    .current-square {
      background-color: $text-color;

    }
  }

  .main-bio-text {
    .timeline-event {
      display: none;
      border-left: $bio-text-l-border;
      margin-top: $arrow-tb-marg;
      padding-left: $arrow-tb-marg;

      p {
        margin: 0;
      }

      .event-heading {
        font-weight: $bold-heading-font-weight;
        text-align: left;
      }

    }

    .active-event {
      display: flex;
      flex-flow: column nowrap;

      p {
        text-align: justify;
      }
    }
  }
}

@media (min-width: 625px) {
  .bio-content {
    .bio-top-content {
      .top-text-wrapper {
        h1 {
          font-size: $home-heading-size-mobile;
        }
      }
    }
  }
}

@media screen and (min-width: 730px) {
  .bio-content {
    padding: $bio-content-padding-desktop;
    .bio-top-content {
      .top-text-wrapper {
        .greeting-text-desktop {
          display: block;
        }
      }
    }

    .greeting-text-mobile {
      display: none;
    }

    .timeline-menu {
      margin-top: $bio-content-padding;
      margin-bottom: $bio-text-h3-marg;

      .timeline-square {
        height: $bio-time-square-desktop-width;
        width: $bio-time-square-desktop-width;
      }

    }

    .timeline-event {
      font-size: $bio-event-desktop-size;
      p {
        font-weight: $light-font-weight;
      }
    }
  }
}

@media screen and (min-width: 934px) {
  .bio-content {
    margin-left: $arrow-nav-extra-pad;
  }
}
