@import 'variables';
@import 'flex';

#contact {
	z-index: $contact-z;
	background:
		linear-gradient($home-gradient, $home-gradient),
		url('./img/hubble_img_1.jpg') no-repeat;
	background-position: center;
	background-size: cover;
}

.contact-content {
	// align-self: flex-start;
	margin: 5vh auto;
	h1 {
		font-size: 42px;
		margin: 0 auto;
		margin-bottom: 15px;
	}

	.contact-info {
		font-size: 20px;
		margin: 10px auto;

		.contact-text {
			margin-left: 15px;
		}

	}

	.text-form {

		.form-group {
			margin: 10px auto;

			.input-div {
				margin-top: 10px;

				.contact-input {
					border: $master-border;
					background-color: rgba(0,0,0,0);
					color: $text-color;
					width: 100%;
					padding: 5px;
				}

				textarea {
					resize: none;
					height: 200px;
					// overflow-y: scroll;
				}
			}
		}
	}

}
