@import 'variables';
@import 'flex';

*,
*:after,
*::before {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $body-background-color;
	overflow: hidden;
  margin: 0;

  .slide-section {
  	position: absolute;
    @extend .flex-section;
  	top: 0; bottom: 0; left: 100%; right: -100%;
  	padding: $slide-tb-pad $slide-lr-pad;
    padding-right: $slide-lr-pad + $arrow-nav-extra-pad;
  }

  .color-fill {
    background-color: $color-fill-background-color;
  }

  .bold-heading {
    font-weight: $bold-heading-font-weight;
  }
}

body, a {
	color: $text-color;
	text-decoration: none;
	font-family: $primary-font;
	font-weight: $main-font-weight;
}

// for landscape
// @media (orientation: landscape) {
//   body {
//     -webkit-transform: rotate(-90deg);
//     -moz-transform: rotate(-90deg);
//     -o-transform: rotate(-90deg);
//     -ms-transform: rotate(-90deg);
//     transform: rotate(-90deg);
//   }
// }

a:active, a:focus {
  outline: none;
}

a:hover {
  color: $link-hover-color;
  cursor: pointer;
}
