@import 'variables';
@import 'flex';

/*skills*/
#skills {
	z-index: $skills-z;
	background:
		linear-gradient(
			rgba(0, 0, 0, 0.6),
			rgba(0, 0, 0, 0.6)
		),
		url('./img/earth_from_space_2.jpg') no-repeat;
	background-size: cover;
	background-position: center;
}

.skills-content {
  width: 100%;
  @extend .flex-section;

  .skills-heading {
    width: 15%;
    font-size: $skills-heading-size;
    align-self: center;
    margin-right: $skills-column-pad;

    h2 {
      margin: 0;
      text-align: center;
    }
  }

  .skills-column-container {
    width: 85%;
    @extend .flex-section;
    justify-content: center;

    .skills-column {
      border: $master-border;
      padding: $skills-column-pad;
      padding-top: 0;
      width: 25%;
      margin-left: $skills-column-pad;

      .skills-column-heading {
        height: $header-height;
        border-bottom: $master-border;
        font-size: $skill-column-heading-size;
        font-weight: $skills-heading-font-weight;
        @extend .flex-section;
      }

      .skill-box {
        text-align: center;
        @extend .flex-section;

        .icon-box {
          width: $skill-i-box-width;
        }

        .icon-image {
          width: $skill-i-img-width;
        }

        i {
          font-size: $skills-i-size;
        }

        p {
          font-size: $skills-p-size;
          margin-left: $skills-mobile-p-l-marg;
        }
      }
    }
  }
  .mobile-skills-page-links {
    display: none;
  }
}

@media screen and (max-width: 1060px) {

  .skills-content {
		flex-flow: column nowrap;
    align-self: stretch;

    .skills-heading {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      height: $tablet-skills-heading-height;
    }

    .skills-column-container {
        width: 100%;

       .skill-column {
         .skill-box {
           .icon-box {
             i {
               font-size: $skill-box-tablet-icon-size;
             }
           }
           p {
             margin: $social-icon-l-margin;
             margin-left: $skills-p-l-marg;
             font-size: $skill-box-tablet-p-size;
           }
         }
       }
    }
	}
}

@media screen and (max-width: 875px) {

  .skills-content {
		align-self: center;
		.skills-heading {
      margin-right: 0;
      height: $mobile-skills-heading-height;
    }

    .skills-column-container {
      flex-flow: row wrap;

      .skills-column {
        width: 45%;
        align-self: center;
        margin-bottom: $nav-tb-marg;

        .skills-column-heading {
          height: $skills-column-heading-tablet-height;
          font-size: $skill-box-mobile-p-size;
        }

        .skill-box {
          .icon-box {
            i {
              font-size: $skills-i-size-mobile;
            }

            .icon-image {
               width: $skill-i-box-width-mobile;
            }
          }

          p {
            font-size: $skill-box-mobile-p-size;
            margin: $skills-mobile-tb-marg $skills-mobile-p-l-marg;
          }
        }
      }

      #skills-1, #skills-3  {
        order: 1;
      }

      #skills-2, #skills-4 {
        order: 2;
      }
    }
  }
}

@media screen and (max-width: 600px) {

  .skills-content {
    align-items: space-around;
		width: 90%;
    padding-left: $arrow-nav-extra-pad;

    .skills-heading {
      h2 {
        font-size: $mobile-logo-font-size;

      }
    }

    .skills-column-container {
      margin-left: 0;

      .skills-column {
        width: 100%;
        margin-left: 0;
				margin-bottom: $skills-mobile-p-l-marg;

        .skill-box {
          p {
            margin: $skills-mobile-p-l-marg;
          }
        }
      }

      #skills-3 {
        order: 2;
      }

      .hidden-skills {
        display: none;
      }
    }

    .mobile-skills-page-links {
      align-items: center;
      display: flex;
      font-size: $skill-box-tablet-p-size;

      .link-dash {
        margin: 0 $skills-p-l-marg;
      }

      .active-skills-page {
        font-weight: $bold-heading-font-weight;
      }
    }
  }
}
